
.noto-sans-normal {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: auto;
  width: 800px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
    font-size: 18pt;
}

footer {
  font-size: 10pt;
}


#main>form>input {
  width: 100px;
  font-size: 18pt;
}

#main>form {
  width: 400px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

#calculations {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}